{% extends "root/base.html" %}

{% block content %}
<div class="card" style="width: 75%; margin: 50px auto;">
  <div class="card-body" id="blog-container">
    <h1 id="blog-post-1">Blog Post 1</h1>
    <h3 id="sun-july-18th">Sun, July 18th</h3>
    <h3 id="robotmessenger810">@robotmessenger810</h3>
    <p>Blog content goes here.</p>
    <p>Next paragraph begins here. And... the next one starts</p>
    <p>Here!</p>
    <p>Blog content goes here.</p>
    <p>Next paragraph begins here. And... the next one starts</p>
    <p>Here!</p>
    <p>Blog content goes here.</p>
    <p>Next paragraph begins here. And... the next one starts</p>
    <p>Here!</p>
    <p>Blog content goes here.</p>
    <p>Next paragraph begins here. And... the next one starts</p>
    <p>Here!</p>
  </div>
</div>
{% endblock content %}