{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'root/main.css' %}">

    <link rel="shortcut icon" href="{% static 'root/favicon.ico' %}">
    {% block head-content%} {% endblock %}
    <title>Root Tracking</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
<!--        bg-dark-->
        <div class="container">
          <a class="navbar-brand" href="#">
              <img src="{% static 'root/logo.svg' %}" alt="logo" height="45px" style="margin-right: 1rem;">Root Tracking
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/images">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/internal">Internal</a>
                </li>
            </ul>
              <div class="gitref">
                  <a href="https://github.com/aaronBioBot">
                      <img src="{% static 'root/github-logo.svg' %}">
                  </a>
              </div>

          </div>
        </div>
    </nav>

    {% block body-content%} {% endblock %}

    <div class="container" id="content-container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

{% block main-content%}
{% endblock %}

<footer class="footer">
    <div class="container" style="text-align: center">
        <br>
        <span class="text-muted" style="display: block; margin-bottom: 10px; align-content: center">2021 Root Tracking</span>
        <a class="text-muted" href="https://github.com/aaronBioBot"><strong>Privacy Policy</strong></a>
        <span class="text-muted" style="margin-right: 10px; margin-left: 10px">&bull;</span>
        <a class="text-muted" href="https://github.com/aaronBioBot"><strong>Contact</strong> </a>
        <br>
        <br>
    </div>
</footer>

</html>
