{% extends "root/base.html" %}
{% load static %}

{% block head-content %}
    <link rel="alt-stylesheet" type="text/css" href="{% static 'root/header.css' %}">
{% endblock head-content %}

{% block body-content %}
    <video src="https://storage.googleapis.com/file-sorting-data/Anupam/showcase/testdir/stabfinal.mp4"
           autoplay muted loop class="video-header" poster="{% static 'root/poster-header.jpg' %}"></video>
    <header class="viewport-header">
        <h1 class="h1-header">
            Explore
            <span>Root Tracking</span>
        </h1>
    </header>
{% endblock body-content%}

{% block main-content %}
    <main>
        <h2>Roots are plants' foundation.
            They mine the soil for nutrients and water, and anchor above-ground growth.
            Yet they remain hidden from view, obscuring their crucial functions.
            This project aims to explore root growth using time-lapse imaging of plants grown in transparent substrate.
            We are developing the project first in rice, the world's most important food staple,
            and plan to explore other species in the future.</h2>
    </main>
{% endblock main-content%}