{% extends "root/base.html" %}

{% block head-content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">
{% endblock head-content %}


{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <h3 style="margin-top: 20px; padding-bottom: 15px">Browse Experiments</h3>

    <div class="row">
        <div class="col-3">
            <div class="form-floating" style="margin-top: 20px; padding-bottom: 50px">
                <input type="text" id="searchExp" onkeyup="myFunction(document.getElementById('searchExp').value)" placeholder="Search Experiment" class="form-control">
                <label for="searchExp">Search Experiment ID</label>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-6" style="max-height: 100px">
            <div class="input-group flex-nowrap" style="margin-top: 20px; margin-bottom: 50px; flex-direction: row">
                <span class="input-group-text" style="border-top-right-radius: 0; border-bottom-right-radius: 0">
                    <i class="bi bi-calendar3"></i>
                </span>
                <form class="form-floating input-group-date" style="flex: auto;" method="get" id="formSearchDate" action="/gallery">
                    <input type="text" id="searchDate" placeholder="Date Planted" class="form-control input-date" name="date" style="border-radius: 0; border-left: none" required>
                    <label for="searchDate">Date Planted by at Least</label>
                </form>
                <button type="submit" form="formSearchDate" class="btn btn-outline-success">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            const date_input = $('input[name="date"]');
            const container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm-dd-yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>

    <div class="row">
        {% for url in image_urls %}
            <div class="col-6 col-md-2 col-sm-3 col-lg-2 col-xl-2 seed" style="margin-bottom: 10px">
                <a id="seed-link" href="#!" style="text-decoration: none; color: inherit" onclick="sethref(this)">
                    <div class="card h-100 text-center border-0">
                        <div style="display: inline-block; overflow: hidden; background: rgba(0, 0, 0, 0.75)">
                            <img src="{{url.url}}" class="card-img-top seed_image" alt="sample image" width="250px">
                        </div>
                        <div class="card-footer">{{url.box_num}}.{{url.seed_num}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <figure class="text-center d-none none-found">
        <h6>No Experiments Found!</h6>
    </figure>



    <script>
        function myFunction(val) {
            let input = val
            console.log(input)
            if (inputMatchesFound(input)) {
                document.getElementsByClassName('none-found')[0].classList.add('d-none')
            } else {
                document.getElementsByClassName('none-found')[0].classList.remove('d-none')
            }
            let x = document.getElementsByClassName('seed')
            for (let i = 0; i < x.length; i++) {
              let txtValue = x[i].innerText;
              if (txtValue.indexOf(input) > -1){
                  x[i].classList.remove('d-none');
              } else {
                  x[i].classList.add('d-none');
              }
            }
            if (isContentFilled()){
                document.getElementsByClassName('footer')[0].style.position='relative'
            } else {
                document.getElementsByClassName('footer')[0].style.position='absolute'
            }
        }
        function inputMatchesFound(input){
            let x = document.getElementsByClassName('seed')
            for (let i = 0; i < x.length; i++) {
              let txtValue = x[i].innerText;
              if (txtValue.indexOf(input) > -1){
                  return true
              }
            }
            return false
        }
    </script>

    {% if image_urls|length_is:"0" %}
        <script>
            document.getElementsByClassName('none-found')[0].classList.remove('d-none')
        </script>
    {% endif %}

{% endblock content %}

