{% extends "root/base.html" %}
{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <h3 style="margin-top: 20px">Browse Experiments</h3>
    <label for="myInput"></label>
    <div style="width: 25vw">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Experiment"
               style="margin-bottom: 20px" class="form-control">
    </div>

    <div class="row">
        {% for url in image_urls %}
            <div class="col-6 col-md-2 col-sm-3 col-lg-2 col-xl-2 seed" style="margin-bottom: 10px">
                <a id="seed-link" href="#!" style="text-decoration: none; color: inherit" onclick="sethref(this)">
                    <div class="card h-100 text-center border-0">
                        <div style="display: inline-block; overflow: hidden; background: rgba(0, 0, 0, 0.75)">
                            <img src="{{url.url}}" class="card-img-top seed_image" alt="sample image" width="250px">
                        </div>
                        <div class="card-footer">{{url.box_num}}.{{url.seed_num}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <figure class="text-center d-none none-found">
        <h6>No Experiments Found!</h6>
    </figure>


    <script>
        function myFunction() {
            let input = document.getElementById('myInput')
            input = input.value

            if (inputMatchesFound(input)) {
                document.getElementsByClassName('none-found')[0].classList.add('d-none')
                // document.getElementsByClassName('footer')[0].style.position='relative'
            } else {
                document.getElementsByClassName('none-found')[0].classList.remove('d-none')
                // document.getElementsByClassName('footer')[0].style.position='absolute'
            }
            let x = document.getElementsByClassName('seed')
            for (let i = 0; i < x.length; i++) {
              let txtValue = x[i].innerText;
              if (txtValue.indexOf(input) > -1){
                  x[i].classList.remove('d-none');
              } else {
                  x[i].classList.add('d-none');
              }
            }
            if (isContentFilled()){
                document.getElementsByClassName('footer')[0].style.position='relative'
            } else {
                document.getElementsByClassName('footer')[0].style.position='absolute'
            }
        }
        function inputMatchesFound(input){
            let x = document.getElementsByClassName('seed')
            for (let i = 0; i < x.length; i++) {
              let txtValue = x[i].innerText;
              if (txtValue.indexOf(input) > -1){
                  return true
              }
            }
            return false
        }
        function sethref(doc){
            doc.href = "?exp=" + doc.getElementsByClassName('card-footer')[0].innerText
        }
        function isContentFilled(){
            let bodyHeight = document.body.scrollHeight
            let contentHeight = document.getElementsByClassName('footer')[0].scrollHeight +
                document.getElementsByClassName('navbar')[0].scrollHeight + document.getElementById('content-container').scrollHeight + 20
            return bodyHeight <= contentHeight;
        }
    </script>
    <script>
        lazyload();
    </script>

{% endblock content %}